.siteList{
    border:1px solid black;
    margin-left: 20px;
    margin-top: 10px;
    float:left;
}

.site {
    border:1px solid #ddd;
    float:right;
}

#leftFrame {
    float:left;
}

#rightFrame {
    float:right;
}

.but {
    border:none;
    background-color: beige;
    border-radius: 13px;
    width: 200px;
    height: 40px;
}

a {
    text-decoration: none;
    color:#686868;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

#info {
    color:gray;
}