* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }

a {
    color: gary;
    outline: 0;
    text-decoration: none;
  }
  a:focus, a:hover {
    text-decoration: underline;
  }

  input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
            transition: background-color .3s;
  } 

body {
    background: url('image2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #606468;
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    margin: 0;
    min-height: 100%;
  }
    .form input[type="password"], .form input[type="text"], .form input[type="submit"], .form input[type="number"] {
        width: 100%;
      }
      .form--login {
        color: #000000;
      }
      .form--login label,
      .form input[type="number"],
      .form--login input[type="text"],
      .form--login input[type="password"],
      .form--login input[type="submit"] {
        border-radius: 0.25rem;
        padding: 1rem;
      }
      .form--login label {
        background-color:#313f67;
        color:white;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
      .form--login input[type="text"], .form--login input[type="password"], .form--login input[type="number"] {
        background-color: #ffffff;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      .form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover, .form--login input[type="number"]:focus, .form--login input[type="number"]:hover {
        background-color: #e9f3fe;
      }

      .form__field {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1rem;
      }
      .form__input {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
      }
      
      .hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .text--center {
        text-align: center;
      }
      
      .grid__container {
        margin: 5px 50px;
        max-width: 46rem;
        width: 90%;
        float:left;
      }

      .grid{
	margin: 5px 50px;
        max-width: 46rem;
        width: 90%;
      }

      #save{
          margin: 0 90px;
      }

      h4{
          margin : 0 70px;
      }

      

    #btnLogout{
      margin : 0 100px;
    }
    textarea{
		width:25rem;
		height:10rem;
	}
	.ip{
		outline: 0;
		text-decoration: none;
		background-color: transparent !important;
		color: gray;
	}
	.ip:hover, .ip:focus{
		text-decoration: underline;
	}
	.tt{
		border-radius: 0.25rem;
		padding: 1rem;
		background-color:#313f67;
		color:white;
		border-bottom-right-radius: 0;
		margin-right:10px;
		border-top-right-radius: 0;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		width:50rem;
		float:left;
	}
	#st{
		color:black;
		background-color:skyblue;
	}
	#ds{
		color:yellow;
		background: url('https://github.com/jo0196/jo0196.github.io/blob/master/a.jpg?raw=true') no-repeat center center fixed; 
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    width:46.5rem;
	    height:30rem;
		margin: 0;
		min-height: 100%;
	}
	#map{
		width:50rem;
		height:48rem;
	}
