#leesungkyung{
    width:300px;
    height:330px;
    background:url('aaaa.jpg') no-repeat;
    background-position: -170px -40px;
}
a.menu{
    width:455px;
    height:435px;
    background:url('bbbb.jpg') no-repeat;
    display:inline-block;
}
.lee{
    background:url('aaaa.jpg') no-repeat;
    display: inline-block;
}

p{
    background-color:whitesmoke;
    margin: auto;
    max-width: 1000px;
    min-height: 900px;
    border: 3px dotted red;
    padding: 20px;
    margin-top: 3%;
}
