#leesungkyung{
    width:300px;
    height:330px;
    background:url('aaaa.jpg') no-repeat;
    background-position: -170px -40px;
}
a.menu{
    width:455px;
    height:435px;
    background:url('bbbb.jpg') no-repeat;
    display:inline-block;
}
.lee{
    background:url('aaaa.jpg') no-repeat;
    display: inline-block;
}

#introduce{
    background-color:rgb(239, 241, 78);
    margin: auto;
    height: 120px;
    border: 3px dotted black;
    padding: 20px;
    margin-top: 3%;
}
